@import (inline) "~@netcracker/ux-ng2/dist/themes/base/styles/components/button/button.component.css";
@import (inline) "~@netcracker/ux-ng2/dist/themes/base/styles/components/loader/material-loader/material-loader.component.css";

.sidediv button {
    display: inline-block;
    float: left;
    margin: 10px;
    border: none;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;

}

.sidediv {
    width: 12%;
    height: 100%;
}

.quesDisplay{

    margin: 40px 0 0 270px;
}
.quesDisplay button{
    float: right ;

    margin-top: 300px;

}
