<!--The content below is only a placeholder and can be replaced.-->
<div>
    <div class="sidediv" *ngFor="let first of questions">
        <button id="{{first.sno}}" (click)="loadQues(first.sno)">{{first.sno}}</button>

    </div>
    <div class="quesDisplay">
        <p >{{onScreenQues.sno+'=>  '+onScreenQues.question}}</p>
        <input type="radio" name="option">{{onScreenQues.option[0]}}<br>
        <input type="radio" name="option">{{onScreenQues.option[1]}}<br>
        <input type="radio" name="option">{{onScreenQues.option[2]}}<br>


    <button (click)="saveChange(onScreenQues.sno)">save ans</button>
    <button (click)="reviewChange(onScreenQues.sno)">Mark ans</button>
    </div>

</div>
